{% extends "core/layouts/blank.html" %}
{% load static %}
{% block title %}Летим на марс{% endblock %}
{% block content %}

    <div class="flex flex-col flex-grow max-w-8xl px-4 sm:px-8 md:px-12">
        {% include "core/partials/header.html" %}

        <main class="flex-grow relative">
            <div class="absolute left-12 bottom-1/4 mb-4">
                <div class="border-1 border-gray-800 relative h-full p-2
                      before:absolute before:top-0 before:left-0 before:w-[2%] before:h-[10%]
                      before:border-l-0 before:border-t-0 before:border-white
                      after:absolute after:top-0 after:right-0 after:w-[2%] after:h-[10%]
                      after:border-r-1 after:border-t-1 after:border-white after:shadow-[0_0_12px_1px_#fff]">
                    <div class="h-full before:absolute before:bottom-0 before:left-0 before:w-[2%] before:h-[10%]
                        before:border-l-1 before:border-b-1 before:border-white before:shadow-[0_0_12px_1px_#fff]
                        after:absolute after:bottom-0 after:right-0 after:w-[2%] after:h-[10%]
                        after:border-r-0 after:border-b-0 after:border-white flex items-center">
                        <a href="#"
                           class="text-sm md:text-base opacity-75 hover:opacity-90 transition-all duration-300 hover:drop-shadow-[0_0_8px_#fff]">
                            Начать путешествие
                        </a>
                    </div>
                </div>
            </div>

            <!-- Features -->
            <div class="absolute right-4 md:right-12 top-1/6 grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6">

                {% for feature in features %}
                    {% if forloop.counter <= 4 %}
                        <div
                                class="bg-white/[0.01] hover:bg-gradient-to-br from-transparent to-[rgba(255,255,255,0.08)] cursor-pointer rounded-md transition-all duration-300 hover:shadow-[0_0_15px_2px_rgba(255,255,255,0.03)] w-32 h-32 md:w-48 md:h-48 p-4 md:p-6 relative overflow-hidden"
                                x-data="{ isClicked: false }"
                                @click="isClicked = true; setTimeout(() => isClicked = false, 300)"
                                :class="{ 'scale-95': isClicked }"
                        >
                            <!-- Ripple effect -->
                            <div
                                    class="absolute inset-0 opacity-0 transition-opacity duration-300"
                                    :class="{ 'animate-ripple opacity-40': isClicked }"
                                    style="background: radial-gradient(circle at center, white 0%, transparent 80%)"
                            ></div>

                            <span class="feature-box text-sm md:text-base font-semibold text-center font-size-2xl relative z-10">
                        {{ feature.content|safe }}
                    </span>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </main>
    </div>
    {% include "core/partials/footer.html" %}
{% endblock content %}
